<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.platform.mapper.RequirementTagMapper">

    <select id="selectTagNamesByRequirementId" resultType="java.lang.String">
        SELECT tag_name FROM requirement_tag WHERE requirement_id = #{requirementId}
    </select>

    <delete id="deleteByRequirementId">
        DELETE FROM requirement_tag WHERE requirement_id = #{requirementId}
    </delete>

    <select id="selectRequirementIdsByTagName" resultType="java.lang.Long">
        SELECT DISTINCT requirement_id FROM requirement_tag WHERE tag_name = #{tagName}
    </select>

    <select id="selectTagsByRequirementIds" resultType="java.util.Map">
        SELECT requirement_id AS requirementId, tag_name AS tagName
        FROM requirement_tag
        WHERE requirement_id IN
        <foreach collection="requirementIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
